<h1> <%= t('course_question_list') %>   </h1>


<div class="wice-grid-container" id="grid"><table  class="table-striped table-bordered table wice-grid">
<thead><tr  class="wice-grid-title-row">
   		<th><%= t('name') %></th>
   		<th><%= t('username') %></th>
   		<th><%= t(:view) %></th>
   		<th><%= t(:edit) %></th>
   		<th><%= t(:delete) %></th>

		</tr>	
    <tr>		
		<%= form_tag({}, method: :get) do %>
   		<th><%= text_field_tag :content, params[:content] %></th>
   		<th><%= text_field_tag :username, params[:username] %></th>
   		<th>&nbsp;</th>
   		<th>&nbsp;</th>
   		<th>&nbsp;</th>
   		<th class="submit" ><%= submit_tag 'Search', name: nil%></th>
		<% end %>
		</tr>
  </thead>
  <tbody>

 <% for q in @questions %>
    <tr>
			<td><%= q.content %></td>
			<td><%= q.teacher.user.username%></td>
			<td><%= link_to t(:view), q %></td>
			<td><%= link_to t('edit'), edit_question_path(q) if adminQN(q) %></td>
			<td><%= link_to t('delete') , q, :confirm => 'Are you sure?', :method => :delete if adminQN(q) %></td>
    </tr>       
 <% end %>


  </tbody>
</table>

<%= will_paginate @questions %>

</div>







    <%= link_to t('new_question'), :controller => "questions", :action => "new" , :course_id => params[:course_id] %>
		<br/>
		
    <%= link_to t(:back), :controller => "courses" , :action => "show" , :id => params[:course_id]%>
		<br/>
