<b> <%= t('user_list') %></b>

<div class="wice-grid-container" id="grid"><table  class="table-striped table-bordered table wice-grid">
<thead><tr  class="wice-grid-title-row">

			<th> <%= t('name') %> </th>	
			<th> <%= t('username') %> </th>	
			<th> <%= t('delete_from_group')  %> </th>
			
		</tr>	
    <tr>		
  </thead>
  <tbody>

 <% for s in @students %>
	<tr>
		<td><%= s.user.name %></td>
		<td><%= s.user.username %></td>
		<td><%= link_to t("delete") , s.student_alu_groups[0], :confirm => t('deletion_confirmation'), :method => :delete  %></td>
	</tr>       
 <% end %>


  </tbody>
</table>

<%= will_paginate @students %>

</div>


<%= link_to t('group_new_user'), :controller => "student_alu_groups" , :action => "newStudent" , :alu_group_id => @alu_group.id %>
