<p>
  <b><%=  t('name')  %></b>
  <%=h @alu_group.name %>
</p>
  <b><%=  t('course_name')  %></b>
  <%=h @alu_group.course ? @alu_group.course.name : "NINGUNA" %>
</p>

<b> <%= t('user_list') %></b>
<div class="wice-grid-container" id="grid"><table  class="table-striped table-bordered table wice-grid">
<thead><tr  class="wice-grid-title-row">

			<th> <%= t('name') %> </th>	
			<th> <%= t('username') %> </th>	
			<th> <%= t('grade1')  %> </th>
			<th> <%= t('grade2')  %> </th>
			<th> <%= t('grade3')  %> </th>
			<th> <%= t('grade4')  %> </th>
			<th> <%= t('grade_total')  %> </th>
			
		</tr>	
    <tr>		
  </thead>
  <tbody>

 <% for s in @students %>
	<tr>
		<td><%= s.user.name %></td>
		<td><%= s.user.username %></td>
		<td><%= "%1.3f" % getStudentGrade(s.id, @alu_group.course_id, :grade1) %></td>
		<td><%= "%1.3f" % getStudentGrade(s.id, @alu_group.course_id, :grade2) %></td>
		<td><%= "%1.3f" % getStudentGrade(s.id, @alu_group.course_id, :grade3) %></td>
		<td><%= "%1.3f" % getStudentGrade(s.id, @alu_group.course_id, :grade4) %></td>
		<td><%= "%1.3f" % getStudentGrade(s.id, @alu_group.course_id, :grade_total) %></td>
	</tr>       
 <% end %>


  </tbody>
</table>

<%= will_paginate @students %>

</div>





<%= link_to t('edit'), edit_alu_group_path(@alu_group)  %>
