<p id="notice"><%= notice %></p>

<p>
  <strong>G1:</strong>
  <%= @fuzzy_rule.g1 %>
</p>

<p>
  <strong>G2:</strong>
  <%= @fuzzy_rule.g2 %>
</p>

<p>
  <strong>G3:</strong>
  <%= @fuzzy_rule.g3 %>
</p>

<p>
  <strong>G4:</strong>
  <%= @fuzzy_rule.g4 %>
</p>

<p>
  <strong>Gres:</strong>
  <%= @fuzzy_rule.gres %>
</p>

<%= link_to 'Edit', edit_fuzzy_rule_path(@fuzzy_rule) %> |
<%= link_to 'Back', fuzzy_rules_path %>
