<h1><%= t('new_work') %></h1>

<%= form_for(@work, :html => { :name => :workform }  ) do |f| %>
  	  <% if @work.errors.any? %>
	    <div id="error_explanation">
	
		<h2><%= t :error_update, :count => @work.errors.count %></h2>	
	      <ul>
	      <% @work.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

    <%= f.hidden_field :assignedto_id %>
    <%= f.hidden_field :assignedto_type %>


  <p>
  <b><%= t('node') %>:</b>
    <%= f.select "node_id" , Node.where(course_id: params[:course_id] ).collect {|u| [u.content , u.id]}  %>
  </p>

  <p>
  <b><%= t('initialpoints') %>:</b>
    <%= f.text_field :initialpoints %>
  </p>


  <p>
  <b><%= t('type') %>:</b>
  <% Work::WORK_TYPES.each do |q| %>
    <%= f.radio_button :worktype , q %><%= t("workType#{q}") %>
  <% end %>
  </p>


<script type="text/javascript">
// return an empty string if none are checked, or
// there are no radio buttons
function getCheckedValue(radioObj) {
	if(!radioObj)
		return "";
	var radioLength = radioObj.length;
	if(radioLength == undefined)
		if(radioObj.checked)
			return radioObj.value;
		else
			return "";
	for(var i = 0; i < radioLength; i++) {
		if(radioObj[i].checked) {
			return radioObj[i].value;
		}
	}
	return "";
}

</script>



<script>

$(document).ready(function(){
  $("#work_node_id").change(function() {
serializedAttr = {work: {node_id: document.getElementById('work_node_id').value , assignedto_type: "<%= @work.assignedto_type%>" , assignedto_id: <%=@work.assignedto_id %>, worktype: getCheckedValue(document.forms['workform'].elements['work[worktype]']) }  }
    // make a POST call and replace the content
    $.post("<%= url_for(:action => 'getNodesDep') %>", serializedAttr , function(data) {
      $("#work_div").html(data);
    });
  });

serializedAttr = {work: {node_id: document.getElementById('work_node_id').value , assignedto_type: "<%= @work.assignedto_type%>" , assignedto_id: <%=@work.assignedto_id %>, worktype: getCheckedValue(document.forms['workform'].elements['work[worktype]']) }  }
    $.post("<%= url_for(:action => 'getNodesDep') %>",  serializedAttr, function(data) {
      $("#work_div").html(data);
    });

})
</script>






  <div id="work_div">
  </div>



  <p>
    <%= f.submit t("create") %>
  </p>
<% end %>

