<div class="title"><h3><%= t('generate_new_password') %> </h3></div>
<div class="fieldset-container">
<fieldset class="Label-Left">
<div class="fieldset-content">


<p><%= t('new_password_request_explanation') %> </p>


<br/>

<%= form_tag(:action => 'lost_password') do %>
<p>
 <%= t('username') %> :&nbsp;&nbsp;
  <%= text_field_tag :username %>
</p>

	<%= raw(get_captcha(:options => {:theme => 'white', :tabindex => 10})) %>

	<!-- %= show_simple_captcha % -->

  <%= submit_tag  t('new_password_request') %>
<% end %>
<hr></hr>
<p>
<%= link_to t('register'), register_path %>
</p>
<br />
<p>
<%= link_to t('login'), login_path %>
</p>
<br />
</div>
</fieldset>
</div>

