<h2><%= t('user_list') %> </h2>

<%= link_to t('users_not_active'), :controller => 'users' , :action => 'indexNotActive'%>
<br/>

<div class="wice-grid-container" id="grid"><table  class="table-striped table-bordered table wice-grid">
<thead><tr  class="wice-grid-title-row">

			<th> <%= t('type') %> </th>	
			<th> <%= t('username') %> </th>	
			<th> <%= t('name') %> </th>	
			<th> <%= t('email') %> </th>	
			<th> <%= t('active') %> </th>	
			<th> <%= t('creation_date') %> </th>	
			<th> <%= t(:view) %> </th>	
			<th> <%= t(:edit) %> </th>	
			<th> <%= t('change_state') %> </th>	
			<th> <%= t('login_as') %> </th>	
			<th> <%= t(:delete) %> </th>	
		</tr>	
    <tr>		
		<%= form_tag({}, method: :get) do %>
   		<th><%= select_tag :type, options_for_select( User::USER_TYPES.map{|o| [t('userType' + o) , o ]}, params[:type] ) ,:include_blank => true%></th>
   		<th><%= text_field_tag :username, params[:username] %></th>
   		<th><%= text_field_tag :name, params[:name] %></th>
   		<th><%= text_field_tag :email, params[:email] %></th>
   		<th><%= select_tag :active, options_for_select( [["Sí",1],["No",0]], params[:active] ) ,:include_blank => true%></th>
   		<th>&nbsp;</th>
   		<th>&nbsp;</th>
   		<th>&nbsp;</th>
   		<th>&nbsp;</th>
   		<th>&nbsp;</th>
   		<th>&nbsp;</th>
   		<th class="submit" ><%= submit_tag 'Search', name: nil%></th>
		<% end %>
		</tr>

  </thead>
  <tbody>

 <% for user in @users %>
    <tr>
	<td>
 		<%= t('userType' + user.useraccount_type) %> 	
	</td>	
	<td>
 		<%= user.username %> 	
	</td>	
	<td>
 		<%= user.name %> 	
	</td>	
	<td>
 		<%= user.email %> 	
	</td>	
	<td>
 		<%=  user.active? ? "Sí":"No"  %> 	
	</td>	
	<td>
     <%=  user.created_at.strftime("%d.%m.%Y")%> 
	</td>	
	<td>
     <%=  link_to t(:view), user%> 
	</td>	
	<td>
      <%=  link_to t(:edit), edit_user_path(user)%> 
	</td>	
	<td>
     <%=  link_to user.active? ? t('deactivate') : t('activate'), :action=>'changeActive' , :userid => user.id %> 
	</td>	
	<td>
     <%=  link_to t('login_as'), :action=>'loginAs' , :userid => user.id %> 
	</td>	
	<td>
     <%=  link_to t(:delete), user , :confirm => t('deletion_confirmation'), :method => :delete %> 
	</td>	
     </tr>       
 <% end %>


  </tbody>
</table>

<%= will_paginate @users %>

</div>

