<h1><%= t('node_question_relation_new_node')  %></h1>

<%= form_tag({:action => 'createNode'} , {:method => :post}) do  %>

		<%= hidden_field_tag :question_id , params[:question_id] %>

<p>
  <b><%= t('node') %>:</b>
</p>
<%= grid(@nodes, :show_filters => :always) do |node|

   node.action_column :param_name => "nodeids"	


		node.column :name => t('course'), :model => Course , :attribute => 'name', :custom_filter => :auto  do |n|
       n.course.name
    end
    node.column :name => t('content'), :attribute => 'content' do |n|
       n.content
    end

end %>


<p>
  <b><%= t('dependency') %>:</b>
    <%= text_field_tag :dep %>
  </p>
  <p>
    <%= submit_tag t('create') %>
  </p>
<% end %>



