<%= message %>
<% if test_alu_msgqualifs.size > 0 %>
<table border="1">
	<thead>
		<tr>
			<th>User</th>
			<th>Nota1</th>
			<th>Nota2</th>
			<th>Nota3</th>
			<th>Nota4</th>
			<th>Nota total</th>
		</tr>
	</thead>
	<tbody>
	<% test_alu_msgqualifs.each do |tam| %>
		<tr>
			<td><%= tam.student.user.username %></td>
			<td><%="%5.3f" % tam.grade1 %></td>
			<td><%="%5.3f" % tam.grade2 %></td>
			<td><%="%5.3f" % tam.grade3 %></td>
			<td><%="%5.3f" % tam.grade4 %></td>
			<td><%="%5.3f" % tam.grade_total %></td>
		</tr>

	<% end %>

  <tbody>
</table>
<% end %>
