<p>
<% if  @chatmessages.length > 0  %>
<table border="1">
  <tr>
    <th>From</th>
    <th>Body</th>
    <th>Question</th>
    <th>Tiempo</th>
    <th></th>
  </tr>

<%
	lb=nil
	lf=nil
	lq=nil
%>

<% @chatmessages.each do |chat_message| %>
  <tr>
    <td><%= chat_message.from.user.username %></td>
    <td><%= chat_message.body.split(":",3)[2] %></td>
		<td>
			<%=  chat_message.grouptest_chatmessages[0].qnumber  - 1%>
		</td>
		<td>
			<% if [User::ADMIN, User::PROF].include? User.find(session[:userid]).useraccount_type   %>

  		  <%= link_to t('delete'),chat_message.grouptest_chatmessages[0] , :confirm => 'Are you sure?', :method => :delete %>
			<% end %> &nbsp;
		</td>
    <td><%= chat_message.created_at.strftime(" %H:%M:%S") %></td>

  </tr>

<% end %>
</table>
<% end %>
</p>

