


<script>
  $(function() {
    $("#accordion").accordion({
        collapsible:true,
        active:false
    });
    var icons = $( "#accordion" ).accordion( "option", "icons" );
    $('.open').click(function () {
        $('.ui-accordion-header').removeClass('ui-corner-all').addClass('ui-accordion-header-active ui-state-active ui-corner-top').attr({
            'aria-selected': 'true',
            'tabindex': '0'
        });
        $('.ui-accordion-header-icon').removeClass(icons.header).addClass(icons.headerSelected);
        $('.ui-accordion-content').addClass('ui-accordion-content-active').attr({
            'aria-expanded': 'true',
            'aria-hidden': 'false'
        }).show();
    });
    $('.close').click(function () {
        $('.ui-accordion-header').removeClass('ui-accordion-header-active ui-state-active ui-corner-top').addClass('ui-corner-all').attr({
            'aria-selected': 'false',
            'tabindex': '-1'
        });
        $('.ui-accordion-header-icon').removeClass(icons.headerSelected).addClass(icons.header);
        $('.ui-accordion-content').removeClass('ui-accordion-content-active').attr({
            'aria-expanded': 'false',
            'aria-hidden': 'true'
        }).hide();
    });

  });
  </script>


Notas de todos los alumnos. En paréntesis se muestra número de preguntas con respuesta incorrecta / número total de preguntas
; nota1, nota2, nota3, nota4 | nota total si se ha rellenado por el profeosr nota4 (la calidad de los mensajes)

<div class="accordion-expand-holder">
    <button type="button" class="open">Expand all</button>
    <button type="button" class="close">Collapse all</button>
</div>

<div id="accordion">
		<% @students.each do |s| %>

    <h3><%= s.user.name %> (<%= s.user.username %>)</h3>
    <div>
			<% tests = getStudentTests(s, params[:course_id]) %>
			<% if tests[:students].size > 0 %>
				<h4> Individuales </h4>
				<% tests[:students].each do |t| %>	
					<b> <%= t[:node] %>: </b>
						<% t[:tests].each do |t| %>
							<%= t[:points] %> (<%= t[:answ] %>)
						<% end %>
				<br/>
				<% end %>
			<% end %>
			<% if tests[:alu_groups].size > 0 %>
				<h4> En grupo </h4>
				<% if tests[:gradeFromTag]!=0 %>
					<p><b><%= t('grade_total') %></b>:
					<%=  tests[:gradeFromTag] %>
					</p>
				<% end %>
				<% tests[:alu_groups].each do |t| %>
					<b> <%= t[:node] %>: </b>
						<% t[:tests].each do |t| %>
							<%= t[:points] %> (<%= t[:answ] %>; <%= "#{t[:tag].grade1}, #{t[:tag].grade2}, #{t[:tag].grade3}, #{t[:tag].grade4} | #{t[:tag].grade_total}" if t.has_key?(:tag) %>)
						<% end %>

				</br>
				<% end %>
			<% end %>
		</div>
		<% end %>


</div>


