<h1><%= t('course_list_assigned') %></h1>

<div class="wice-grid-container" id="grid"><table  class="table-striped table-bordered table wice-grid">
<thead><tr  class="wice-grid-title-row">
			<th> <%= t('name') %> </th>	
			<th> <%= t('view') %> </th>	
			<th> <%= t('state') %> </th>	

		</tr>	
    <tr>		
		<%= form_tag({}, method: :get) do %>
   		<th><%= text_field_tag :name, params[:name] %></th>
   		<th>&nbsp;</th>
   		<th>&nbsp;</th>
   		<th class="submit" ><%= submit_tag 'Search', name: nil%></th>
		<% end %>
		</tr>

  </thead>
  <tbody>


 <% for c in @courses %>
    <tr>
	<td><%=   c.name %> </td>
	<td><%=   link_to t('view'), c  %> </td>
	<td><%=  link_to t('delete_from_course'), eval("#{User.find(session[:userid]).useraccount_type}Assign.find_by_#{underscore(User.find(session[:userid]).useraccount_type)}_id_and_course_id(session[:useraccount_id] , c.id)"), :confirm => t('deletion_confirmation'), :method => :delete  %> </td>

     </tr>       
		<% end %>
  </tbody>
</table>

<%= will_paginate @courses %>

</div>



