<h1><%= t('edit_competence') %></h1>

<%= form_for(@competence) do |f| %>
  	  <% if @competence.errors.any? %>
	    <div id="error_explanation">
		<h2><%= t :error_update, :count => @competence.errors.count %></h2>	
	      <ul>
	      <% @competence.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>


  <p>
    <%= t('name') %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= t('description') %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit t('update') %>
  </p>
<% end %>

<b> <%= t('alu_group_list') %></b>

<b> <%= t('alu_group_list') %></b>
<div class="wice-grid-container" id="grid"><table  class="table-striped table-bordered table wice-grid">
<thead><tr  class="wice-grid-title-row">
			<th> <%= t('name') %> </th>	
			<th> <%= t('delete_group') %> </th>	
			<th> <%= t('points') %> </th>	
			<th> <%= t('view_group') %> </th>	
		</tr>

  </thead>
  <tbody>
 <% for ag in @alu_groups %>
    <tr>
	<td>
		<%=	ag.name %>
	</td>	
	<td>
		<%=	link_to t("delete") , ag.competence_groups[0], :confirm => "Estas  seguro ?", :method => :delete %>
	</td>	
	<td>
		<%=	link_to t("points") , ag.competence_groups[0] %>
	</td>	
	<td>
		<%=	link_to t("view") , :controller => 'alu_groups', :action => 'show' , :id =>  ag.competence_groups[0].alu_group_id %>
	</td>	
     </tr>       
 <% end %>


  </tbody>
</table>

<%= will_paginate @alu_groups %>

</div>






<br/>
<%= link_to t('competence_new_alu_group'), :controller => "competence_groups" , :action => "newAluGroup" , :competence_id => @competence.id %>

<br/>
<br/>
<b> <%= t('node_list') %></b>

<div class="wice-grid-container" id="grid"><table  class="table-striped table-bordered table wice-grid">
<thead><tr  class="wice-grid-title-row">
			<th> <%= t('name') %> </th>	
			<th> <%= t('delete_node') %> </th>	
		</tr>

  </thead>
  <tbody>
 <% for node in @nodes %>
    <tr>
	<td>
		<%=	node.content %>
	</td>	
	<td>
		<%=	link_to t("delete") , node.competence_nodes[0], data: { :confirm => "Estas  seguro ?",:method => :delete }  %>
	</td>	
     </tr>       
 <% end %>


  </tbody>
</table>

<%= will_paginate @nodes %>

</div>



<%= link_to t('competence_new_node'), :controller => "competence_nodes" , :action => "newNode" , :competence_id => @competence.id %>
