<b> <%= t('alu_group_list') %></b>
<div class="wice-grid-container" id="grid"><table  class="table-striped table-bordered table wice-grid">
<thead><tr  class="wice-grid-title-row">
			<th> <%= t('name') %> </th>	
			<th> <%= t('competence_list') %> </th>	
		</tr>

  </thead>
  <tbody>
 <% for ag in @alu_groups %>
    <tr>
	<td>
		<%=	ag.name %>
	</td>	
	<td>
		<%=	link_to t("competence_list") , :action => 'listByGroup', :alu_group_id => ag.student_alu_groups[0].alu_group_id %>
	</td>	
     </tr>       
 <% end %>


  </tbody>
</table>

<%= will_paginate @alu_groups %>

</div>

