
<b> <%= t('competence_list') %></b>
<div class="wice-grid-container" id="grid"><table  class="table-striped table-bordered table wice-grid">
<thead><tr  class="wice-grid-title-row">
			<th> <%= t('name') %> </th>	
		</tr>

  </thead>
  <tbody>
 <% for s in @competences %>
    <tr>
	<td>
		<b><%=	s.name %></b> &nbsp; <%= (competencePassed?(s) ?  t('passed') : t('not_passed')) %> &nbsp;
		<% cg = CompetenceGroup.find_by_competence_id_and_alu_group_id(s.id, params[:alu_group_id]) %>
		<%= cg.points.to_s if !cg.points.nil? %>
		<a href="/<%= CompetenceGroup::UPLOAD_DIR_REL} %>/<%= cg.filename %>"> <%= cg.filename %></a>&nbsp;
		<%= link_to t("upload_competence_file") , :controller => 'competence_groups', :action => 'uploadFile' , :alu_group_id => params[:alu_group_id] , :competence_id => s.id %>
		<table>
		<% s.nodes.each do |n| %>
		<tr><td><%= n.content %></td>
		<td><%= n.course.name %></td>
		<td><%= (testsPassed?(n.id) ? t('passed') : t('not_passed')) %></td></tr>
		<% end %>
		</table>

	</td>	
     </tr>       
 <% end %>


  </tbody>
</table>

<%= will_paginate @competences %>

</div>
