<h1><%= t('teacher_assign_list' , :coursename => Course.find(params[:course_id]).name   ) %></h1>


<div class="wice-grid-container" id="grid"><table  class="table-striped table-bordered table wice-grid">
<thead><tr  class="wice-grid-title-row">

			<th> <%= t('name') %> </th>	
			<th> <%= t('username') %> </th>	
			<th> <%= t('coordinator')  %> </th>
			<th> <%= t('change')  %> </th>
			<th> <%= t('delete_from_course')  %> </th>
			
		</tr>	
    <tr>		
  </thead>
  <tbody>

 <% for s in @teacher_assigns %>
<tr>
	<td>
		<%= s.teacher.user.name  %>
	</td>
	<td>
    <%= s.teacher.user.username  %>
	</td>
	<td>
    <%= s.coordinator  %>
	</td>
	<td>
    <%= link_to(t('change'),:action => "changeCoordinator", :id => s.id, :course_id => params[:course_id])  %>
	</td>
	<td>
    <%= link_to t('delete_from_course'), s, :confirm => t('deletion_confirmation'), :method => :delete  %>
	</td>



</tr>       
 <% end %>


  </tbody>
</table>

<%= will_paginate @teacher_assigns %>

</div>

<table cellspacing="5">
	<tr> 
		<th> Teacher </th>
		<th> Coord </th>
		<th> <%= t("add_to_course") %></th>
	</tr>
  <%= form_tag({:controller => 'teacher_assigns' , :action => 'assign_to_course'}, {:method => :post}) do |f| %>
		<tr>
    <%= hidden_field_tag("course_id"  , params[:course_id]) %>
    <td>
			<%= select_tag("teacher_id" , options_for_select(Teacher.includes(:user).order("users.name asc").references(:user).collect {|u| [u.user.name , u.id]}) ) %>
		</td>	
    <td>
		<%= check_box_tag :coord %>
		</td>	
    <td>
    <%= submit_tag t("add_to_course") %>
		</td>	
		</tr>
  <% end %>

</table>

